bin
build
build_3ds
.vscode
.cache
romfs

lib
*.dll
*.lib
*.so
*.a

examples/*/tools/*
!examples/*/tools/
examples/*/tools/*
!examples/*/tools/build_3ds.sh

/*.cpp
/*.json
/*.atlas
*.pak
src/draw/3d/3dshader_shbin.h